#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --rojo: #ba181b;
	--azul: #00b4d8;
	--azul-hover: #48cae4;
	--rojo-hover: #e5383b;
	--verde: #09a129;
}

ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.input-update {
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  color: #555;
  width: 100%;
  /* background-color: #000; */
  outline: none;
}
.container-done {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid var(--verde);
  cursor: pointer;
}

.container-done.active {
  background-color: var(--verde);
}

.text-decoration-dashed {
	text-decoration: line-through;
}

form {
	gap: 20px;
}

